/* You can add global styles to this file, and also import other style files */

body {
  display: flex; justify-content:center; align-items:center;
  background-color: dimgray;
  font-family:   gill sans, sans-serif;
  background-size: 100%;
}


.spacer {
  flex-grow: 1;
  flex-basis: 10em;
}

.content {
  flex-grow: 2;
  flex-basis: 40em;
}
